[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
flake8 = "*"
tox = "*"
autopep8 = "*"
black = "*"
ipdb = "*"
pytest = "*"
mock = "*"

[packages]
feedparser = "*"
beautifulsoup4 = "*"
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"

[requires]
python_version = "3.7"
