[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
flake8 = "*"
tox = "*"
autopep8 = "*"
black = "*"

[packages]

[requires]
python_version = "3.7"
